*,
*::before,
*::after {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

:root {
  font-size: 16px;
}

body {
  display: flex;
  justify-content: center;
  align-items: center;
  min-height: 100vh;
  background-color: #f5f5f5;
}

.toggle {
  position: relative;
  width: 70px;
  height: 70px;
  background-color: #fff;
  box-shadow: 0 10px 20px rgba(0, 0, 0, 0.08);
  border-radius: 10px;
  display: flex;
  justify-content: center;
  align-items: center;
  cursor: pointer;
  overflow: hidden;
}

.toggle span {
  position: absolute;
  width: 40px;
  height: 4px;
  background-color: #1863ff;
  border-radius: 4px;
  transition: 0.5s;
}

.toggle span:nth-child(1) {
  transform: translateY(-15px);
  width: 25px;
  left: 15px;
}

.toggle span:nth-child(2) {
  transform: translateY(15px);
  width: 15px;
  left: 15px;
}

#toggle-activator {
  display: none;
}
#toggle-activator:checked + .toggle span:nth-child(1) {
  transform: translateY(0) rotate(45deg);
  transition-delay: 0.125s;
  width: 40px;
}

#toggle-activator:checked + .toggle span:nth-child(2) {
  transform: translateY(0) rotate(315deg);
  transition-delay: 0.25s;
  width: 40px;
}

#toggle-activator:checked + .toggle span:nth-child(3) {
  transform: translateX(60px);
}
